body{
  margin: 0;
  padding: 0;
  background: #121212;
}
.text{
  display: flex;
  width:99vw;
  height:50vh;
  background: radial-gradient(rgba(255,255,255,0.7),transparent);
  font-size: 2rem;
  justify-content: center;
}
.text p{
  color: grey;
  font-family: serif;
  font-weight: 600;
  letter-spacing: .5px;
}
button{
  width:5rem;
  font-size: 1.6rem;
}
.cir{
  position: fixed;
  
  background: ;
  
}


